/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*---------------------- General Styles --------------------*/

html {
  font-size: 1rem;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  text-align: center;
  background-color: #ffffff;
  color: #e094bc;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  width: 100%;
  margin: 30px 0;
}

a {
  color: #e094bc;
  text-decoration: none;
}

h1, h2, h3, h4 {
  color:#7e013a;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

strong {
  color: #7e013a;
}

p {
  font-size: 1.25em;
  line-height: 1.5em;
}

/*---------------------- Mobile Styles --------------------*/

/* Header styles */

header {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  /*color: #e094bc;*/
}

header .content-wrapper {
  /*display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;*/
  margin: 0;
}

header nav {
  width: 100%;
  font-weight: 500;
  text-transform: uppercase;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
}

header nav ul li {
  font-size: .875em;
}

/* Intro Section */

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin: 30px;
}

#intro h1 {
  padding: 20px 0;
}

#intro p {
  color:#7e013a;
  padding: 20px 0;
  font-size: 1.5em;
}

/* About Section */

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin: 30px;
}

#about img {
  width: 100%;
  border-radius: 50%;
  margin: 0 0 30px 0;
}

/* Skills Section */

#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}


#skills i {
  color: #7e013a;
  font-size: 5em;
  margin-bottom: 10px;
}

#skills .skills-items-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

#skills .skills-item {
  width: 63%;
  margin: 30px 0;
}

#skills p {
  margin: 0;
}

#skills .tech-stack {
  padding: 30px 15px;
  color: #7e013a;
}

/* Projects Section */

#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#projects img {
  padding: 30px 0 30px 0;
  width: 80%;
  border-radius: 10%;
}

.portfolio-project {
  /*display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;*/
  padding: 15px;
  margin: 70px 30px;
  border:#7e013a solid 3px;
  border-radius: 30px;
  box-shadow: 10px 5px 5px #e094bc;
  background-color: #fffafa;
}

.portfolio-project button {
  background-color: #7e013a;
  color: #e094bc;
  font-size: 1.25em;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 20px;
  margin: 30px 0;
}

/* Footer styles */

.contact-image {
  display: none;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin: 0;
  /*background-color: #7e013a;*/
}

.contact-info {
  /*display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;*/
  color: #e094bc;
}

#contact i {
  font-size: 3.5em;
  margin-bottom: 40px;
}

.contact-info ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin: 50px 0 0 0;
}

#copyright {
  font-size: .75em;
  color:#7e013a;
}

#copyright p {
  margin: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* Tablet Styles */

  /* General Styles */

  .content-wrapper {
    max-width: 640px;
  }

  /* Header Styles */

  header {
    padding: 30px 0;
  }
  
  header nav ul {
    justify-content: space-between;
  }
  
  header nav ul li {
    font-size: 1em;
  }

  /* Intro Styles */

  #intro {
    margin: 50px;
  }
  
  #intro p {
    padding: 25px 0;
    font-size: 1.75em;
  }

  /* About Styles */


  #about .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #about .about-picture {
    width: 40%;
  }

  #about .about-description {
    width: 40%;
  }

  #about p {
    font-size: 1.2em;
  }

  /* Skills Styles */

  #skills .skills-item {
    width: 47%;
  }

  /* Projects Styles */

  #projects .portfolio-projects-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }
  
  .portfolio-project {
    padding: 20px;
    margin: 40px 0;
    width: 40%;
  }

  /* Footer Styles */


}

@media only screen and (min-width: 1200px) {
  /* Desktop styles here */

  /* General styles */

  .content-wrapper {
    max-width: 960px;
  }



}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

